# Ignore raw and complete datasets for security reasons
notebooks/raw_datasets

# Ignore cleaned up datasets
notebooks/cleaned_datasets

# Ignore project guideline resources
resources/

# Ignore Jupyter Notebook Checkpoints
notebooks/Cleaning/.ipynb_checkpoints/

